<!DOCTYPE html>
<html lang="pl">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Koreline</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% block css %}{% endblock %}
</head>
<body>
{% include 'koreline/navbar.html' %}
{% block content %}{% endblock %}
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
